html, body, webview {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	flex-direction: column;
	display: flex;
	align-items: stretch;
}

iframe,webview {
	flex: 1 1 0;
	padding: 0;
    margin: 0;
	width: 100%;
}
